<!DOCTYPE html>
<html>
<script type="text/javascript" src="jquery/jquery.min.js"></script>
<link rel="stylesheet" href="css/style.css" />
<link rel="stylesheet" href="bootstrap-3/css/bootstrap.css"></link>
<link rel="stylesheet" href="bootstrap-3/css/bootstrap-theme.min.css"></link>
<link rel="stylesheet" href="bootstrap-3/css/bootstrap.min.css"></link>
<script type="text/javascript " src="bootstrap-3/js/bootstrap.js"></script>
<script type="text/javascript " src="angular/angular.js"></script>
<script type="text/javascript " src="js/controller.js"></script>


<body>
	<div class="header">
		<img src="image/agile.png" alt="">
		<h2>Dashboard</h2>
	</div>
	<div class="row" ng-app="mymodal" ng-controller="customersCtrl">
		<div class="col-xs-6 col-md-3">
			<input type="text" class="input extrainput" readonly="true"
				value="Projects" style="width: 170px">

			<button type="button" class="btn btn-success"
				ng-click="toggleModal()" style="width: 174px">add</button>

			<div ng-repeat="x in names">
				<div class="btn-group">


					<button type="button" class="btn btn-primary"
						ng-click="getSprint(x)" style="width: 174px">{{ x.nom }}</button>
	
					</button>
					<button type="button" class="btn btn-danger"
						ng-click="deleteProject(x)">X</button>
					<ul class="dropdown-menu">
					</ul>
				</div>
			</div>


			<modal title="project form" visible="showModal">
			<form role="form">
				<div class="form-group">
					<label for="NameOfProject">Name of Project</label> <input
						type="text" ng-model="NameOfProject" class="form-control"
						id="NameOfProject" placeholder="Name of Project" />
				</div>

				<button ng-click="submit(NameOfProject)" type="button" id="submit">
					save</button>
			</form>
			</modal>



		</div>

		<div class="col-xs-6 col-md-3">
			<input type="text" class="input extrainput" readonly="true"
				value="Sprints" style="width: 170px">
			<div ng-show=" objectP != undefined ">
				<button type="button" class="btn btn-success"
					ng-click="toggleModalSprint()" style="width: 174px">add</button>


				<div ng-repeat="x in sprints">
					<div class="btn-group">
						<button type="button" class="btn btn-primary"
							ng-click="getTask(x)" style="width: 110px">{{ x.nom }}</button>
						<button type="button" class="btn btn-primary dropdown-toggle"
							data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							<span class="caret"></span> <span class="sr-only">Toggle
								Dropdown</span>
						</button>
						<ul class="dropdown-menu">
							<li> Target :  {{ x.target }} </a></li>
						</ul>
						<button type="button" class="btn btn-danger"
							ng-click="deleteSprint(x)">X</button>
					</div>
				</div>





				<modal title="sprint form" visible="showModalSprint">
				<form role="form">

					<div class="form-group">
						<label for="nom">Name of Sprint</label> <input type="text"
							ng-model="NomSprint" class="form-control" id="NomSprint"
							placeholder="Enter the name of sprint" />
					</div>
					<div class="form-group">
						<label for="target">Target</label> <input type="text"
							ng-model="Target" class="form-control" id="target"
							placeholder="Target" />
					</div>
					<button type="button" ng-click="addSprint(NomSprint , Target )"
						id="addSprint">save</button>
				</form>
				</modal>
			</div>
		</div>

		<div class="col-xs-6 col-md-3">
			<!--Body content-->
			<input type="text" class="input extrainput" readonly="true"
				value="Tasks">

			<div ng-show=" objectS != undefined">
				<button type="button" class="btn btn-success"
					ng-click="toggleModalTask()" style="width: 174px">add</button>



				<div ng-repeat="x in tasks">
					<div class="btn-group">
						<button type="button" class="btn btn-primary" ng-click="getDeveloper(x)"
							style="width: 155px">{{ x.nom }}</button>
						<button type="button" class="btn btn-primary dropdown-toggle"
							data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							<span class="caret"></span> <span class="sr-only">Toggle
								Dropdown</span>
						</button>
						<ul class="dropdown-menu">
							<li> Description: {{ x.description }}</a></li>
							<li> state: {{ x.etat }}</a></li>
							<li> priority: {{ x.priorite }}</a></li>
						</ul>
						<button type="button" class="btn btn-danger"
							ng-click="deleteTask(x)">X</button>
					</div>
				</div>

				<modal title="task form" visible="showModalTask">
				<form role="form">

					<div class="form-group">
						<div class="form-group">
							<label for="nom">name</label> <input type="text"
								ng-model="NomTask" class="form-control" id="NomTask"
								placeholder="Nom" />
						</div>
						<label for="description">description</label> <input type="text"
							ng-model="Description" class="form-control" id="description"
							placeholder="description" />
					</div>
					<div class="form-group">
						<label for="etat">state (example state = En cours)</label> <input type="text" ng-model="Etat"
							class="form-control" id="etat" placeholder="state" />
					</div>
					<div class="form-group">
						<label for="priorite">priority ( example : priority = 1 )</label> <input type="text"
							ng-model="Priorite" class="form-control" id="priorite"
							placeholder="priority" />
					</div>
					<button type="button"
						ng-click="addTask( Description , Etat, Priorite, NomTask )"
						id="addTask">save</button>
				</form>
				</modal>
			</div>




		</div>
		<div class="col-xs-6 col-md-3">
			<!--Body content-->
			<input type="text" class="input extrainput" readonly="true"
				value="Developers">

			<div ng-show=" objectT != undefind" >
				<button type="button" class="btn btn-success"
					ng-click="toggleModalDeveloper()" style="width: 174px">add/edit</button>


				<div ng-model="developers">
					<div class="btn-group" ng-show=" developers != undefined ">
						<button type="button" class="btn btn-primary"
							ng-click="" style="width: 174px"> {{ developers.nom }} {{ developers.id}}</button>
						
						<button type="button" class="btn btn-danger"
							ng-click="deleteDeveloper(developers)">X</button>
					</div>
				</div>
				<modal title="developer form" visible="showModalDeveloper">
				<form role="form">

					<div class="form-group">
						<label for="nom">Name of Developer</label> <input type="text"
							ng-model="NomDeveloper" class="form-control" id="NomDeveloper"
							placeholder="Enter the name of Developer" />
					</div>
					<button type="button" ng-click="addDeveloper(NomDeveloper)"
						id="addDeveloper">save</button>
				</form>
				</modal>
			</div>
		</div>
	</div>

</body>
</html>
