.header{
		position: relative;
		width: 100%;
		padding: 20px 0;
		background: #fff; /* #363636 */
		text-align: center;
		color: #3498db;
		margin-bottom: 20px;
		-webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.4);
		-moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.4);
		box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.4);
	}
	.header img{
		position: absolute;
		left: 50%;
		margin-left: -210px;
	}
	
	/* =============== INPUTS =============== */
	.input {
		padding: 10px;
		border: none;
		border:1px solid #eee;
		transition: border 0.3s;
		height: 50px;
		width: 150px;
		color: #3498db;
		text-align: center;
		margin-bottom: 15px;
		font-size: 14px;
	}
	.extrainput{border-bottom: solid 4px #c9c9c9;margin-left: 5px;}
	
	
	
	 .serverCont{border: 1px solid #eee;
	 height: 1000px;
		width: 190px;}
	 
	 .myLabel{
		font-weight: bolder;
		font-size: 12px;
		text-align: center;
		color: #3498db;
	}